PyTDC==0.4.1
biovec==0.2.7
pyfaidx==0.8.1.2
pip install git+https://github.com/samoturk/mol2vec
pip install  dgl -f https://data.dgl.ai/wheels/torch-2.4/cu118/repo.html
dgllife==0.3.2
tape-proteins==0.5
transformers
unimol_tools
sentencepiece==0.2.0
wandb