embedding-drug-protein/data/
embedding-drug-protein/drug/
embedding-drug-protein/logs/
embedding-drug-protein/model/
embedding-drug-protein/protein/
embedding-drug-protein/gin_supervised_contextpred_pre_trained.pth
data/
wandb/